<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="common_header_mobile">
    <meta charset="UTF-8"/>
    <base target="_parent"/>

<title>微信</title>

<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="0"/>
<meta http-equiv="keywords" content="厦门点微ERP"/>
<meta http-equiv="description" content="厦门点微ERP"/>
<meta http-equiv="Content-Type" Content="text/html; Charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />

<!--
    <link th:href="@{/layui-v2.5.5/css/layui.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/js/jquery-2.1.1.min.js}"></script>
-->


    <link th:href="@{/plugins/jquery-easyui-1.8.8/themes/metro/easyui.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/plugins/jquery-easyui-1.8.8/themes/mobile.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/plugins/jquery-easyui-1.8.8/themes/icon.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/plugins/layer-mobile-v2.0/layer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{/plugins/jquery-easyui-1.8.8/jquery.min.js}"></script>
    <script th:src="@{/plugins/jquery-easyui-1.8.8/jquery.easyui.min.js}"></script>
    <script th:src="@{/plugins/jquery-easyui-1.8.8/jquery.easyui.mobile.js}"></script>
    <script th:src="@{/plugins/jquery-easyui-1.8.8/locale/easyui-lang-zh_CN.js}"></script>
    <!--<script th:src="@{/plugins/jquery-easyui-1.8.8/datagrid-cellediting.js}"></script>
    <script th:src="@{/plugins/jquery-easyui-1.8.8/jquery.edatagrid.js}"></script>-->

    <!-- hightcharts -->
    <script th:src="@{/plugins/highcharts/highcharts.js}"></script>
    <script th:src="@{/plugins/highcharts/exporting.js}"></script>
    <script th:src="@{/plugins/highcharts/export-data.js}"></script>
    <script th:src="@{/plugins/highcharts/highcharts-zh_CN.js}"></script>

    <script th:src="@{/plugins/main.js?v=1.2.0}"></script>
    <script th:src="@{/plugins/layer-mobile-v2.0/layer.js}"></script>

</head>

</html>
