<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="common/header :: common_header_mobile">
    <meta charset="UTF-8"/>
    <base target="_parent"/>

    <style>

        body {
            font-family: '微软雅黑';
            font-size: 14px;
        }

    </style>

</head>

<body>
<div class="easyui-navpanel">

    <header class="css-background-main">
        <div class="m-toolbar">
            <div class="m-left">
                <a th:href="@{/admin/user/list.html}" class="easyui-linkbutton" data-options="iconCls:'icon-back-black',plain:true"></a>
            </div>
            <div class="m-title">添加-人员</div>
         </div>
    </header>

    <form id="ff" style="padding: 10px;">

        <div style="margin-bottom:10px;">
            <input id="name" class="easyui-textbox" label="姓名:" prompt="姓名" style="width:100%">
        </div>

        <div style="margin-bottom:10px;">
            <input id="userName" class="easyui-textbox" label="登录名:" prompt="登录名" style="width:100%">
        </div>

        <div style="margin-bottom:10px;">
            <input id="loginPass" class="easyui-passwordbox" label="密码:" prompt="密码" style="width:100%">
        </div>

        <div style="margin-bottom:10px;">
            <input id="tel" class="easyui-textbox" label="电话:" prompt="电话" style="width:100%">
        </div>

        <div style="margin-bottom:10px;">
            <input id="type" label="角色:" prompt="角色" style="width:100%">
        </div>

        <div style="margin-bottom:10px">
            <input label="状态:" id="state" />
        </div>

    </form>

    <div style="margin: 0 auto; text-align: center;">
        <a id="mobile-admin-user-save-btn-save" class="btn_menu_common"
           style="width: 90%;">保存</a>
    </div>
</div>

<script th:inline="javascript">
    //<![CDATA[
    $(function() {
        // js 代码逻辑

        $('#state').switchbutton({
            checked: true,
            onText: '激活',
            offText: '冻结',
            onChange: function(checked){
                console.log(checked);
            }
        });

        $('#type').combotree({
            url: "/role/tree.do",
            multiple: true,
            lines: true,
            checkbox: true,
            onlyLeafCheck: true,//当为多选时，起作用，只允许选择叶子节点
            onLoadSuccess: function(node, data){
                // $("#pid").combotree('setValue', obj.categoryId);
            }

        });

        $('#mobile-admin-user-save-btn-save').linkbutton({
            iconCls: 'icon-save'
        });

        $('#mobile-admin-user-save-btn-save').on('click', function() {
            $("#name").val($.trim($("#name").val()));
            $("#userName").val($.trim($("#userName").val()));
            $("#loginPass").val($.trim($("#loginPass").val()));
            $("#tel").val($.trim($("#tel").val()));

            if($("#name").val() == ""){
                tipsinfo("请输入姓名！");
                return false;
            }
            if($("#userName").val() == ""){
                tipsinfo("请输入登录名！");
                return false;
            }
            if($("#loginPass").val() == ""){
                tipsinfo("请输入密码！");
                return false;
            }
            if($("#tel").val() == ""){
                tipsinfo("请输入联系电话！");
                return false;
            }

            var roles = $('#type').combotree('getValues');

            $.messager.confirm("系统提示","确定要保存？",function(r){
                if(r){
                    $.post(
                        '/admin/user/save.do',
                        {
                            'name': $("#name").val(),
                            'userName': $("#userName").val(),
                            'loginPass': $("#loginPass").val(),
                            'tel': $("#tel").val(),
                            'state': $("#state").switchbutton("options").checked ? 1:0,
                            'queryRoles': roles.join(",")
                        },
                        function(data){
                            if(data.code=='200'){
                                tipsinfo("操作成功！");
                            }else if(data.message){
                                tipsinfo("操作失败："+data.message);
                            }else{
                                tipsinfo("网络不给力，请稍后再试！");
                            }
                        },
                        'json' );
                }
            });

        });
    });
    //]]>
</script>

</body>

</html>