<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="common/header :: common_header_mobile">
    <meta charset="UTF-8"/>
    <base target="_parent"/>

    <style>

        body {
            font-family: '微软雅黑';
            font-size: 14px;
        }

    </style>

</head>

<body>
<div class="easyui-navpanel">

    <header class="css-background-main">
        <div class="m-toolbar">
            <div class="m-left">
                <a th:href="@{/role/list.html}" class="easyui-linkbutton" data-options="iconCls:'icon-back-black',plain:true"></a>
            </div>
            <div class="m-title">添加-角色</div>
         </div>
    </header>

    <form id="ff" style="padding: 10px;">

        <div style="margin-bottom:10px;">
            <input id="name" class="easyui-textbox" label="角色名称:" prompt="角色名称" style="width:100%">
        </div>

        <div style="margin-bottom:10px;">
            <input id="description" class="easyui-textbox" label="角色描述:" prompt="角色描述" style="width:100%">
        </div>

        <div style="margin-bottom:10px;">
            <input id="permission" label="菜单权限:" prompt="菜单权限" style="width:100%">
        </div>

    </form>

    <div style="margin: 0 auto; text-align: center;">
        <a id="mobile-store-save-btn-save" class="btn_menu_common"
           style="width: 90%;">保存</a>
    </div>
</div>

<script th:inline="javascript">
    //<![CDATA[
    $(function() {
        // js 代码逻辑

        $('#name').textbox().next('span').find('input').focus();

        $('#permission').combotree({
            url: "/permission/tree.do",
            multiple: true,
            lines: true,
            checkbox: true,
            onlyLeafCheck: false,//当为多选时，起作用，只允许选择叶子节点
            onLoadSuccess: function(node, data){
            }
        });

        $('#mobile-store-save-btn-save').linkbutton({
            iconCls: 'icon-save'
        });

        $('#mobile-store-save-btn-save').on('click', function() {
            $("#name").val($.trim($("#name").val()));
            $("#description").val($.trim($("#description").val()));

            if($("#name").val() == ""){
                tipsinfo("请输入角色名称！");
                return false;
            }
            if($("#description").val() == ""){
                tipsinfo("请输入角色描述！");
                return false;
            }

            var permissions = $('#permission').combotree('getValues');

            $.messager.confirm("系统提示","确定要保存？",function(r){
                if(r){
                    $.post(
                        '/role/save.do',
                        {
                            'role': $("#name").val(),
                            'description': $("#description").val(),
                            'permissions': permissions.join(",")
                        },
                        function(data){
                            if(data.code=='200'){
                                tipsinfo("操作成功！");
                            }else if(data.message){
                                tipsinfo("操作失败："+data.message);
                            }else{
                                tipsinfo("网络不给力，请稍后再试！");
                            }
                        },
                        'json' );
                }
            });

        });
    });
    //]]>
</script>

</body>

</html>